 /* HomePage */
 
 .main {
     text-align: center;
     margin: auto;
     width: 70%;
     padding: 10px;
 }
 
 .Headerhome {
     font-size: 3.5rem;
     font-weight: bolder;
 }
 
 .homepage {
     width: 100vw;
     height: 100vh;
 }
 
 .borderstyle {
     border: solid black;
     border-width: .3rem !important;
 }
 
 .buttonhome {
     border-radius: 0px !important;
     background-color: #0A0A23 !important;
     color: rgb(230, 230, 230) !important;
     border-color: black !important;
     font-weight: bolder !important;
     text-transform: uppercase;
     font-size: 1.5rem !important;
     border: #0A0A23 solid 2px !important;
 }
 
 .buttonhome:hover {
     color: rgb(230, 230, 230) !important;
     background-color: #563D7C !important;
     border: #563D7C solid 2px !important;
 }
 
 .titleheader {
     font-size: 60px;
     cursor: default !important;
 }
 /* LoginPage.js */
 
 .loginForm {
     background-color: white;
     margin-top: 5rem;
     width: 100vh !important;
 }
 
 .Logindesign {
     cursor: default !important;
 }
 
 .formdesign {
     font-size: 1.2rem;
     font-weight: normal !important;
 }
 /* Signup.js */
 
 .signupform {
     width: 50vw !important;
 }
 
 .signupsize {
     width: 50% !important;
 }
 
 .titleheader {
     font-size: 40px;
 }
 
 .boldfont {
     font-weight: bold !important;
 }
 
 .Signupbtn {
     background-color: #0A0A23!important;
     font-size: 20px !important;
     border-color: #0A0A23!important;
     text-transform: uppercase !important;
 }
 
 .Signupbtn:hover {
     background-color: #563D7C!important;
     border-color: #563D7C!important;
 }
 
 .SignUpTerms {
     font-weight: lighter !important;
     font-style: italic;
     margin-top: 2vh;
     font-size: 1rem;
     text-align: center;
 }
 
 @media (max-width: 800px) {
     .loginForm {
         margin-top: 1rem;
         width: 100% !important;
     }
     .signupsize {
         width: 100% !important;
     }
     .main {
         width: 100%;
     }
 }