

  .dropdown {
    position: absolute;
    background-color: #66D;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    text-align: left !important;
  }
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
  }


  
.select {
    background-color: white;
    color: #0A0A23 !important;
    padding: 15px !important;
    border: none !important;
    outline: none !important;
    text-align: left !important;
    border: white 1px solid !important;
  }

.selectgroup{
    width: 50% !important;
    margin-bottom: 25px !important;
    background-color: white;
    margin-left: 50px !important;
}

.select:hover,.selectgroup:hover {
    background-color: rgb(230, 230, 230);
    border: rgb(230, 230, 230) 1px solid !important;
  }

.marginzero{
    padding: 15px !important;
    font-weight: bold !important;
}


